DATABASE_URL="postgresql://neondb_owner:npg_rEsSo2zT6xuN@ep-fragrant-rain-at220xbt-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
OPENAI_API_KEY=""
SMTP_HOST="harshmangukiya248@.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS="gezl gpzm lkch ywqw"
PORT="4000"
